.about {
	/* height: 300vh; */
}

.about__header {
	padding-left: 8vw;
	margin-top: 5%;
	height: auto;
	font-size: 22px;
}

.about__header span {
	color: #fc415a;
}

.about__content {
	width: inherit;
	height: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.about__content__left {
	flex: 0.3;
}

.about__content__right {
	flex: 0.7;
	height: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card {
	background-color: #fc415a;
	height: auto;
	border-radius: 20px;
	width: 90%;
	padding-left: 3%;
	padding-right: 3%;
	margin-right: 50px;
	display: flex;
	align-items: center;
	color: white;
	flex-direction: column;
	text-align: center;
	box-shadow: 10px 10px 8px -4px #d5c1c4;
}

.card h2 {
	font-family: Arial, Helvetica, sans-serif;
}

.card p {
	font-family: cursive;
}

.card__items {
	width: 100%;
	height: 200px;
	display: flex;
	flex-direction: row;
}

.card__item {
	height: 100%;
	width: 37%;
}

@media only screen and (max-width: 900px){

	/*Tablets [601px -> 1200px]*/
	.about__content {
		width: 100%;
		height: auto;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	}

	.about__content__right {
		padding-left: 10px;
		padding-right: 20px;
	}

	.card {
		width: auto;
		padding-bottom: 10px;
	}

	.about__content__left {
		width: auto;
		display: flex;
		justify-content: center;
		padding-bottom: 5vh;
	}

	.about__content__right {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		padding-left: 3%;

	}

}

@media only screen and (max-width: 500px) {
    /*Tablets [601px -> 1200px]*/
	.about__content__right {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		padding-left: 5%;

	}
	.card {
		padding-top: 3vh;
		padding-bottom: 3vh;
		width: 90%;
		height: 240px;
		display: flex;
	}
	
	.card__item{
		display: flex;
		flex-direction: row;
		height: auto;
		width: 100%;
		justify-content: space-between;
		flex-wrap: wrap;
	}
}
