.contact {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact__form {
    height: 80%;
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.contact__form h2 {
    font-size: 30px;
}

.info {
    display: flex;
    flex-direction: row;
    width: 670px;
    justify-content: space-between;
}

.contact__info {
    height: 70px;
    width: 300px;
    display: flex;
    flex-direction: row;
    border-radius: 6px;
    align-items: center;
}


.contact__info img {
    margin-left: 10%;
    margin-right: 6%;
}

.contact__form__texts {
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
}

.margins {
    width: 30%;
}

/* .button{
    margin-top: 35%;
} */

@media only screen and (max-width: 1200px) {
    .contact__form__texts {
        width: 70%;
        display: flex;
        flex-direction: column;
    }

    .margins {
        width: 100%;
    }

    .info {
        display: flex;
        flex-direction: column;
        height: 150px;
        /* width: 670px; */
        justify-content: space-around;
        align-items: center;
    }

}